.btnSide{
    display: flex;
    width: 100%;
    align-items: center;
    gap:calc(var(--spacing) * 2) ;
    padding-block: calc(var(--spacing) * 2.5) ;
    padding-inline: calc(var(--spacing) * 3);
    cursor: pointer;
    border-radius: var(--radius-md);
    
}
